# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
/build
/dist
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.backup/
.pytest_cache/
__pycache__/
.coverage*
coverage.xml*
.vscode*
.nfs*
.python-version
.worktree
@eaDir/
.ipynb_checkpoints/
*.log
*.pkl
*.job
# input dataset
input/birdclef-2021/
input/iterative-stratification-master/
input/pretrained/
input/pytorch-image-models/

# venv
tools/venv/
tools/apex/
tools/miniconda.sh
tools/activate_python.sh
tools/centos_venv/
tools/*.out
tools/tmp.sh
# results
working/dump*/
working/exp*/
working/*.pt
working/*.csv
working/*.ipynb
working2/dump*/
working2/exp*/
working2/*.pt
working2/*.csv
working2/*.ipynb
working2/q/
