numpy
pandas
python-docx
configparser
xlrd
openpyxl
tensorboardX
sklearn
PyYAML
h5py
torch_optimizer
matplotlib
kaggle
black
flake8
tensorflow
librosa
torchlibrosa
ipywidgets
colorednoise
efficientnet_pytorch